:root {
	/* https://mdigi.tools/color-shades/#fa57b6 */
	--bg:                                          #242526; /* rgb(36, 37, 38)    | hsl(210, 3%, 15%)   */
	--secondary-content:                           #525860; /* rgb(82, 88, 96)    | hsl(214, 8%, 35%)   */
	
	--color-pink-contrast-background:              #fdb5df; /* rgb(253, 181, 223) | hsl(325, 95%, 85%)  */ 
	--color-pink-lighest:                          #fca1d6; /* rgb(252, 161, 214) | hsl(325, 94%, 81%)  */
	--color-pink-ligher:                           #fb83c9; /* rgb(251, 131, 201) | hsl(325, 94%, 75%)  */ 
	--color-pink-light:                            #fa52b4; /* rgb(250, 82, 180)  | hsl(325, 94%, 65%)  */ 
	--color-pink:                                  #fa57b6; /* rgb(250, 87, 182)  | hsl(325, 94%, 66%)  */
	--color-pink-dark:                             #f8209e; /* rgb(248, 32, 158)  | hsl(325, 94%, 55%)  */
	--color-pink-darker:                           #df0785; /* rgb(223, 7, 133)   | hsl(325, 94%, 45%)  */
	--color-pink-darkest:                          #ad0567; /* rgb(173, 5, 103)   | hsl(325, 94%, 35%)  */
	--color-pink-contrast-foreground:              #5e0338; /* rgb(94, 3, 56)     | hsl(325, 94%, 19%)  */
	
	--color-blue-contrast-background:              #b1c8ed; /* rgb(177, 200, 237) | hsl(217, 63%, 81%)  */
	--color-blue-lightest:                         #9abcf2; /* rgb(154, 188, 242) | hsl(217, 77%, 78%)  */
	--color-blue-lighter:                          #72a1ed; /* rgb(114, 161, 237) | hsl(217, 77%, 69%)  */
	--color-blue-light:                            #538ce9; /* rgb(83, 140, 233)  | hsl(217, 77%, 62%)  */
	--color-blue:                                  #3578e5; /* rgb(53, 120, 229)  | hsl(217, 77%, 55%)  */
	--color-blue-dark:                             #306cce; /* rgb(48, 108, 206)  | hsl(217, 62%, 50%)  */
	--color-blue-darker:                           #2d66c3; /* rgb(45, 102, 195)  | hsl(217, 62%, 47%)  */
	--color-blue-darkest:                          #2655a1; /* rgb(38, 85, 161)   | hsl(217, 62%, 39%)  */
	--color-blue-contrast-foreground:              #12294e; /* rgb(18, 41, 78)    | hsl(217, 63%, 19%)  */
	
	--color-white-contrast-background:             #cecfd0; /* rgb(206, 207, 208) | hsl(210, 2%, 81%)   */
	--color-white-lightest:                        #f5f6f8; /* rgb(245, 246, 248) | hsl(220, 18%, 97%)  */
	--color-white-lighter:                         #f1f2f5; /* rgb(241, 242, 245) | hsl(225, 17%, 95%)  */
	--color-white-light:                           #eef0f2; /* rgb(238, 240, 242) | hsl(210, 13%, 94%)  */
	--color-white:                                 #ebedf0; /* rgb(235, 237, 240) | hsl(216, 14%, 93%)  */
	--color-white-dark:                            #d4d5d8; /* rgb(212, 213, 216) | hsl(225, 5%, 84%)   */
	--color-white-darker:                          #c8c9cc; /* rgb(200, 201, 204) | hsl(225, 4%, 79%)   */
	--color-white-darkest:                         #a4a6a8; /* rgb(164, 166, 168) | hsl(210, 2%, 65%)   */
	--color-white-contrast-foreground:             #2f3031; /* rgb(47, 48, 49)    | hsl(210, 2%, 19%)   */
	
	--color-green-contrast-background:             #9eff9e; /* rgb(158, 255, 158) | hsl(120, 100%, 81%) */
	--color-green-lightest:                        #80d280; /* rgb(128, 210, 128) | hsl(120, 48%, 66%)  */
	--color-green-lighter:                         #4dbf4d; /* rgb(77, 191, 77)   | hsl(120, 47%, 53%)  */
	--color-green-light:                           #26b226; /* rgb(38, 178, 38)   | hsl(120, 65%, 42%)  */
	--color-green:                                 #00a400; /* rgb(0, 164, 0)     | hsl(120, 100%, 32%) */
	--color-green-dark:                            #009400; /* rgb(0, 148, 0)     | hsl(120, 100%, 29%) */
	--color-green-darker:                          #008b00; /* rgb(0, 139, 0)     | hsl(120, 100%, 27%) */
	--color-green-darkest:                         #007300; /* rgb(0, 115, 0)     | hsl(120, 100%, 23%) */
	--color-green-contrast-foreground:             #006100; /* rgb(0, 97, 0)      | hsl(120, 100%, 19%) */
	
	--color-lightblue-contrast-background:         #b8dae5; /* rgb(184, 218, 229) | hsl(195, 46%, 81%)  */
	--color-lightblue-lightest:                    #aae3f6; /* rgb(170, 227, 246) | hsl(195, 81%, 82%)  */
	--color-lightblue-lighter:                     #87d8f2; /* rgb(135, 216, 242) | hsl(195, 80%, 74%)  */
	--color-lightblue-light:                       #6ecfef; /* rgb(110, 207, 239) | hsl(195, 80%, 68%)  */
	--color-lightblue:                             #54c7ec; /* rgb(84, 199, 236)  | hsl(195, 80%, 63%)  */
	--color-lightblue-dark:                        #4cb3d4; /* rgb(76, 179, 212)  | hsl(195, 61%, 56%)  */
	--color-lightblue-darker:                      #47a9c9; /* rgb(71, 169, 201)  | hsl(195, 55%, 53%)  */
	--color-lightblue-darkest:                     #3b8ba5; /* rgb(59, 139, 165)  | hsl(195, 47%, 44%)  */
	--color-lightblue-contrast-foreground:         #1a3c47; /* rgb(26, 60, 71)    | hsl(195, 46%, 19%)  */
	
	--color-yellow-contrast-background:            #ffe59e; /* rgb(255, 229, 158) | hsl(44, 100%, 81%)  */
	--color-yellow-lightest:                       #ffdd80; /* rgb(255, 221, 128) | hsl(44, 100%, 75%)  */
	--color-yellow-lighter:                        #ffcf4d; /* rgb(255, 207, 77)  | hsl(44, 100%, 65%)  */
	--color-yellow-light:                          #ffc426; /* rgb(255, 196, 38)  | hsl(44, 100%, 57%)  */
	--color-yellow:                                #ffba00; /* rgb(255, 186, 0)   | hsl(44, 100%, 50%)  */
	--color-yellow-dark:                           #e6a700; /* rgb(230, 167, 0)   | hsl(44, 100%, 45%)  */
	--color-yellow-darker:                         #d99e00; /* rgb(217, 158, 0)   | hsl(44, 100%, 43%)  */
	--color-yellow-darkest:                        #b38300; /* rgb(179, 131, 0)   | hsl(44, 100%, 35%)  */
	--color-yellow-contrast-foreground:            #614700; /* rgb(97, 71, 0)     | hsl(44, 100%, 19%)  */
	
	--color-red-contrast-background:               #eeb0b2; /* rgb(238, 176, 178) | hsl(358, 65%, 81%)  */
	--color-red-lightest:                          #fd9c9f; /* rgb(253, 156, 159) | hsl(358, 96%, 80%)  */
	--color-red-lighter:                           #fb7478; /* rgb(251, 116, 120) | hsl(358, 94%, 72%)  */
	--color-red-light:                             #fb565b; /* rgb(251, 86, 91)   | hsl(358, 95%, 66%)  */
	--color-red:                                   #fa383e; /* rgb(250, 56, 62)   | hsl(358, 95%, 60%)  */
	--color-red-dark:                              #e13238; /* rgb(225, 50, 56)   | hsl(358, 74%, 54%)  */
	--color-red-darker:                            #d53035; /* rgb(213, 48, 53)   | hsl(358, 66%, 51%)  */
	--color-red-darkest:                           #b0272b; /* rgb(176, 39, 43)   | hsl(358, 64%, 42%)  */
	--color-red-contrast-foreground:               #4f1114; /* rgb(79, 17, 20)    | hsl(357, 65%, 19%)  */
	
	--color-tile-contrast-background:              #aeefe1; /* rgb(174, 239, 225) | hsl(167, 67%, 81%)  */
	--color-tile-lightest:                         #92e0d0; /* rgb(146, 224, 208) | hsl(168, 56%, 73%)  */
	--color-tile-lighter:                          #66d4bd; /* rgb(102, 212, 189) | hsl(167, 56%, 62%)  */
	--color-tile-light:                            #46cbae; /* rgb(70, 203, 174)  | hsl(167, 56%, 54%)  */
	--color-tile:                                  #25c2a0; /* rgb(37, 194, 160)  | hsl(167, 68%, 45%)  */
	--color-tile-dark:                             #21af90; /* rgb(33, 175, 144)  | hsl(167, 68%, 41%)  */
	--color-tile-darker:                           #1fa588; /* rgb(31, 165, 136)  | hsl(167, 68%, 38%)  */
	--color-tile-darkest:                          #1a8971; /* rgb(26, 137, 113)  | hsl(167, 68%, 32%)  */
	--color-tile-contrast-foreground:              #105143; /* rgb(16, 81, 67)    | hsl(167, 67%, 19%)  */

	--grayscale-0p:                                #ffffff; /* rgb(255, 255, 255) | hsl(0, 0%, 100%)    */
	--grayscale-10p:                               #f5f6f7; /* rgb(245, 246, 247) | hsl(210, 11%, 96%)  */
	--grayscale-20p:                               #ebedf0; /* rgb(235, 237, 240) | hsl(216, 14%, 93%)  */
	--grayscale-30p:                               #dadde1; /* rgb(218, 221, 225) | hsl(214, 10%, 87%)  */
	--grayscale-40p:                               #ccd0d5; /* rgb(204, 208, 213) | hsl(213, 10%, 82%)  */
	--grayscale-50p:                               #bec3c9; /* rgb(190, 195, 201) | hsl(213, 9%, 77%)   */
	--grayscale-60p:                               #8d949e; /* rgb(141, 148, 158) | hsl(215, 8%, 59%)   */
	--grayscale-70p:                               #606770; /* rgb(96, 103, 112)  | hsl(214, 8%, 41%)   */
	--grayscale-80p:                               #444950; /* rgb(68, 73, 80)    | hsl(215, 8%, 29%)   */
	--grayscale-90p:                               #1c1e21; /* rgb(28, 30, 33)    | hsl(216, 8%, 12%)   */
	--grayscale-100p:                              #000000; /* rgb(0, 0, 0)       | hsl(0, 0%, 0%)      */


	--font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--h-default-padding: 10px;
	--card-margin: 20px;
	--h-default-padding: 2ex;
	--border-radius: 10px;
	--pagination-br: 10px;
	--pagination-border-width: 1px;
}



/*****************************************************************************/
/*                                   Style                                   */
/*****************************************************************************/



body {
	margin: 0;
}

body * {
	font-family: var(--font);
	
}

h1, h2, h3, h4, h5, h6 {
	--p: 5px;
	padding-left: var(--h-default-padding);
	text-transform: capitalize;
}

hr {
	width: calc(100% - var(--card-margin));
	height: 1px;
	border: none;
	margin: 10px;
}


div.deck {
	--space: 20px;
	position: relative;
	justify-content: center;
	align-content: flex-start;
	flex-flow: wrap;
	flex-wrap: wrap;
	flex-direction: row;
	display: flex;
	/* align-items: center; */
	align-items: stretch;
	row-gap: var(--space);
	column-gap: var(--space);
}

div.card {
	max-width: calc(var(--card-size) - var(--card-margin) * 2);
	margin: calc(var(--card-margin) / 2);
	flex: var(--card-size);
	text-align: justify;
	border-radius: var(--border-radius);
	border: 1px solid;

	display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: stretch;
}

div.card .header img {
	width: 100%;
	max-width: 100%;
	max-height: 40dvh;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

div.card .header {
	width: 100%;
	max-width: 100%;
}

div.card > .body {
	padding: calc(var(--card-margin) / 2);
	flex: auto;
}

div.card > .footer {
	/* padding: calc(var(--card-margin) / 2); */
	min-height: 25px;
}
div.card > .footer:last-child {
	margin-bottom: 5px;
}

div.card > .footer .align-left,
div.card > .footer .align-right {
	padding: 0 15px 15px 15px
	/* margin-bottom: 15px; */
}

div.align-left {
	float: left;
}
div.align-right {
	float: right;
}

div.pagination {
	margin: 40px 20px  0 0;
	display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


div.pagination > div.page {
	padding: 5px 10px;
	transition: all 300ms;
}

div.pagination > div.page:hover {
	cursor: pointer;
}

div.pagination > div.page:only-child { border: var(--pagination-border-width) solid; }
div.pagination > div.page:not(:only-child) {
	border-top: var(--pagination-border-width) solid;
	border-bottom: var(--pagination-border-width) solid;
	border-left: var(--pagination-border-width) solid;
}

div.pagination > div.page:not(:only-child):last-child {
	border-top: var(--pagination-border-width) solid;
	border-bottom: var(--pagination-border-width) solid;
	border-right: var(--pagination-border-width) solid;
}


div.pagination > div.page:first-child { border-radius: var(--pagination-br) 0 0 var(--pagination-br); }
div.pagination > div.page:last-child { border-radius: 0 var(--pagination-br) var(--pagination-br) 0; }
div.pagination > div.page:only-child { border-radius: var(--pagination-br); }

nav.navbar {
	margin: 0;
	padding: 0;
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-direction: row;
}

nav.navbar a {
	width: 100%;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 500ms;
}

nav.navbar.left a { justify-content: flex-start; }
nav.navbar.right a { justify-content: flex-end; }


/****************************************************************************/
/*                                Responsive                                */
/****************************************************************************/


@media only screen and (min-width: 1600px) {
	div.deck { --space: 1%; }
	div.card { --card-size: 20%; }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	div.deck { --space: 1%; }
	div.card { --card-size: 25%; }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
	div.deck { --space: 0.5%; }
	div.card { --card-size: 30%; }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
	div.deck { --space: 0.05%; }
	div.card { --card-size: 50%; }
}

@media only screen and ( max-width: 500px) {
	div.deck { --space: 10px; }
	div.card { --card-size: 100%; }
	nav.navbar { flex-direction: column; }
}


/****************************************************************************/
/*                               Color Schema                               */
/****************************************************************************/



[color-schema="_green"] {
	--color-lightest: var(--color-green-lightest);
	--color-lighter: var(--color-green-lighter);
	--color-light: var(--color-green-light);
	--color: var(--color-green);
	--color-dark: var(--color-green-dark);
	--color-darker: var(--color-green-darker);
	--color-darkest: var(--color-green-darkest);
	--color-contrast-foreground: var(--color-green-contrast-foreground);
	--color-contrast-background: var(--color-green-contrast-background);
}
[color-schema="_lightblue"] {
	--color-lightest: var(--color-lightblue-lightest);
	--color-lighter: var(--color-lightblue-lighter);
	--color-light: var(--color-lightblue-light);
	--color: var(--color-lightblue);
	--color-dark: var(--color-lightblue-dark);
	--color-darker: var(--color-lightblue-darker);
	--color-darkest: var(--color-lightblue-darkest);
	--color-contrast-foreground: var(--color-lightblue-contrast-foreground);
	--color-contrast-background: var(--color-lightblue-contrast-background);
}
[color-schema="_yellow"] {
	--color-lightest: var(--color-yellow-lightest);
	--color-lighter: var(--color-yellow-lighter);
	--color-light: var(--color-yellow-light);
	--color: var(--color-yellow);
	--color-dark: var(--color-yellow-dark);
	--color-darker: var(--color-yellow-darker);
	--color-darkest: var(--color-yellow-darkest);
	--color-contrast-foreground: var(--color-yellow-contrast-foreground);
	--color-contrast-background: var(--color-yellow-contrast-background);
}
[color-schema="_red"] {
	--color-lightest: var(--color-red-lightest);
	--color-lighter: var(--color-red-lighter);
	--color-light: var(--color-red-light);
	--color: var(--color-red);
	--color-dark: var(--color-red-dark);
	--color-darker: var(--color-red-darker);
	--color-darkest: var(--color-red-darkest);
	--color-contrast-foreground: var(--color-red-contrast-foreground);
	--color-contrast-background: var(--color-red-contrast-background);
}
[color-schema="_tile"] {
	--color-lightest: var(--color-tile-lightest);
	--color-lighter: var(--color-tile-lighter);
	--color-light: var(--color-tile-light);
	--color: var(--color-tile);
	--color-dark: var(--color-tile-dark);
	--color-darker: var(--color-tile-darker);
	--color-darkest: var(--color-tile-darkest);
	--color-contrast-foreground: var(--color-tile-contrast-foreground);
	--color-contrast-background: var(--color-tile-contrast-background);
}
[color-schema="_white"] {
	--color-lightest: var(--color-white-lightest);
	--color-lighter: var(--color-white-lighter);
	--color-light: var(--color-white-light);
	--color: var(--color-white);
	--color-dark: var(--color-white-dark);
	--color-darker: var(--color-white-darker);
	--color-darkest: var(--color-white-darkest);
	--color-contrast-foreground: var(--color-white-contrast-foreground);
	--color-contrast-background: var(--color-white-contrast-background);
}
[color-schema="_pink"]
{
	--color-lightest: var(--color-pink-lighest);
	--color-lighter: var(--color-pink-ligher);
	--color-light: var(--color-pink-light);
	--color: var(--color-pink);
	--color-dark: var(--color-pink-dark);
	--color-darker: var(--color-pink-darker);
	--color-darkest: var(--color-pink-darkest);
	--color-contrast-foreground: var(--color-pink-contrast-foreground);
	--color-contrast-background: var(--color-pink-contrast-background);
}



body {
	background-color: var(--bg);
}

body * {
	color: var(--grayscale-30p);
}


h1, h2, h3, h4, h5, h6 {
	color: var(--color-lightest);
	/* background-color: var(--color-darkest); */
}

hr.style0 { background-image: linear-gradient(to right, var(--color-lighter) 0%, var(--color-lighter) 100%); }
hr.style1 { background-image: linear-gradient(to right, transparent 5%, var(--color-lighter), transparent 95%); }
hr.style2 { background-image: linear-gradient(to right, var(--color-lighter) 5%, transparent, var(--color-lighter) 95%); }


div.card {
	transition: all 200ms;
	background-color: var(--grayscale-80p);
	border-color: var(--grayscale-80p);
}

div.card:hover {
	box-shadow: 0px 0px 10px 0px var(--color-darkest);
	border-color: var(--color-darkest);
}

div.pagination > div.page {
	border-color: var(--color) !important;
}

div.pagination > div.page:hover {
	background-color: var(--color-darkest);
	color: var(--color-lightest);
}

nav.navbar {
	background-color: var(--grayscale-80p)
}

nav.navbar a:hover {
	background-color: var(--color-light);
	color: #000;
}