body {
  background-color: #222933;
}

.test-\[1\] {
  background-color: #bd7ffc;
  color: #000000;
}

.test-\[2\] {
  background-color: #bb7afc;
  color: #000000;
}

.test-\[3\] {
  background-color: #b875fc;
  color: #000000;
}

.test-\[4\] {
  background-color: #b670fc;
  color: #000000;
}

.test-\[5\] {
  background-color: #b36bfb;
  color: #000000;
}

.test-\[6\] {
  background-color: #b166fb;
  color: #000000;
}

.test-\[7\] {
  background-color: #ae61fb;
  color: #000000;
}

.test-\[8\] {
  background-color: #ac5cfb;
  color: #000000;
}

.test-\[9\] {
  background-color: #a957fb;
  color: #000000;
}

.test-\[10\] {
  background-color: #a752fb;
  color: #000000;
}

.test-\[11\] {
  background-color: #a44dfb;
  color: #000000;
}

.test-\[12\] {
  background-color: #a148fb;
  color: #000000;
}

.test-\[13\] {
  background-color: #9f43fa;
  color: #000000;
}

.test-\[14\] {
  background-color: #9c3efa;
  color: #000000;
}

.test-\[15\] {
  background-color: #9a39fa;
  color: #000000;
}

.test-\[16\] {
  background-color: #9734fa;
  color: #000000;
}

.test-\[17\] {
  background-color: #952ffa;
  color: #000000;
}

.test-\[18\] {
  background-color: #922afa;
  color: #000000;
}

.test-\[19\] {
  background-color: #9025fa;
  color: #000000;
}

.test-\[20\] {
  background-color: #8d20fa;
  color: #000000;
}

.test-\[21\] {
  background-color: #8a1bf9;
  color: #000000;
}

.test-\[22\] {
  background-color: #8816f9;
  color: #000000;
}

.test-\[23\] {
  background-color: #8511f9;
  color: #000000;
}

.test-\[24\] {
  background-color: #830df9;
  color: #000000;
}

.test-\[25\] {
  background-color: #8008f9;
  color: #000000;
}

.test-\[26\] {
  background-color: #7e06f5;
  color: #000000;
}

.test-\[27\] {
  background-color: #7b06f0;
  color: #000000;
}

.test-\[28\] {
  background-color: #7906eb;
  color: #000000;
}

.test-\[29\] {
  background-color: #7606e6;
  color: #000000;
}

.test-\[30\] {
  background-color: #7406e2;
  color: #000000;
}

.test-\[31\] {
  background-color: #7105dd;
  color: #000000;
}

.test-\[32\] {
  background-color: #6e05d8;
  color: #000000;
}

.test-\[33\] {
  background-color: #6c05d3;
  color: #000000;
}

.test-\[34\] {
  background-color: #6905ce;
  color: #000000;
}

.test-\[35\] {
  background-color: #6705c9;
  color: #000000;
}

.test-\[36\] {
  background-color: #6405c4;
  color: #000000;
}

.test-\[37\] {
  background-color: #6205bf;
  color: #000000;
}

.test-\[38\] {
  background-color: #5f05ba;
  color: #000000;
}

.test-\[39\] {
  background-color: #5d04b5;
  color: #000000;
}

.test-\[40\] {
  background-color: #5a04b0;
  color: #000000;
}

.test-\[41\] {
  background-color: #5704ab;
  color: #000000;
}

.test-\[42\] {
  background-color: #5504a6;
  color: #000000;
}

.test-\[43\] {
  background-color: #5204a1;
  color: #000000;
}

.test-\[44\] {
  background-color: #50049c;
  color: #000000;
}

.test-\[45\] {
  background-color: #4d0497;
  color: #000000;
}

.test-\[46\] {
  background-color: #4b0492;
  color: #000000;
}

.test-\[47\] {
  background-color: #48038d;
  color: #000000;
}

.test-\[48\] {
  background-color: #460388;
  color: #000000;
}

.test-\[49\] {
  background-color: #430383;
  color: #000000;
}

.test-\[50\] {
  background-color: #41037e;
  color: #000000;
}

.test-\[51\] {
  background-color: #3e0379;
  color: #000000;
}

.test-\[52\] {
  background-color: #3b0374;
  color: #000000;
}

.test-\[53\] {
  background-color: #39036f;
  color: #000000;
}

.test-\[54\] {
  background-color: #36036a;
  color: #000000;
}

.test-\[55\] {
  background-color: #340265;
  color: #000000;
}

.test-\[56\] {
  background-color: #310260;
  color: #000000;
}

.test-\[57\] {
  background-color: #2f025b;
  color: #000000;
}

.test-\[58\] {
  background-color: #2c0256;
  color: #000000;
}

.test-\[59\] {
  background-color: #2a0251;
  color: #000000;
}

.test-\[60\] {
  background-color: #27024c;
  color: #000000;
}

.test-\[61\] {
  background-color: #240247;
  color: #000000;
}

.test-\[62\] {
  background-color: #220242;
  color: #000000;
}

.test-\[63\] {
  background-color: #1f013d;
  color: #000000;
}

.test-\[64\] {
  background-color: #1d0138;
  color: #000000;
}

.test-\[65\] {
  background-color: #1a0133;
  color: #000000;
}

.test-\[66\] {
  background-color: #18012e;
  color: #000000;
}

.test-\[67\] {
  background-color: #150129;
  color: #000000;
}

.test-\[68\] {
  background-color: #130124;
  color: #000000;
}

.test-\[69\] {
  background-color: #10011f;
  color: #000000;
}

.test-\[70\] {
  background-color: #0e011a;
  color: #000000;
}

.test-\[71\] {
  background-color: #0b0115;
  color: #000000;
}

.test-\[72\] {
  background-color: #080010;
  color: #000000;
}

.test-\[73\] {
  background-color: #06000b;
  color: #000000;
}

.test-\[74\] {
  background-color: #030006;
  color: #000000;
}

.test-\[75\] {
  background-color: #010001;
  color: #000000;
}

.test-\[76\] {
  background-color: black;
  color: #000000;
}

.test-\[77\] {
  background-color: black;
  color: #000000;
}

.test-\[78\] {
  background-color: black;
  color: #000000;
}

.test-\[79\] {
  background-color: black;
  color: #000000;
}

.test-\[80\] {
  background-color: black;
  color: #000000;
}

.test-\[81\] {
  background-color: black;
  color: #000000;
}

.test-\[82\] {
  background-color: black;
  color: #000000;
}

.test-\[83\] {
  background-color: black;
  color: #000000;
}

.test-\[84\] {
  background-color: black;
  color: #000000;
}

.test-\[85\] {
  background-color: black;
  color: #000000;
}

.test-\[86\] {
  background-color: black;
  color: #000000;
}

.test-\[87\] {
  background-color: black;
  color: #000000;
}

.test-\[88\] {
  background-color: black;
  color: #000000;
}

.test-\[89\] {
  background-color: black;
  color: #000000;
}

.test-\[90\] {
  background-color: black;
  color: #000000;
}

.test-\[91\] {
  background-color: black;
  color: #000000;
}

.test-\[92\] {
  background-color: black;
  color: #000000;
}

.test-\[93\] {
  background-color: black;
  color: #000000;
}

.test-\[94\] {
  background-color: black;
  color: #000000;
}

.test-\[95\] {
  background-color: black;
  color: #000000;
}

.test-\[96\] {
  background-color: black;
  color: #000000;
}

.test-\[97\] {
  background-color: black;
  color: #000000;
}

.test-\[98\] {
  background-color: black;
  color: #000000;
}

.test-\[99\] {
  background-color: black;
  color: #000000;
}

.test-\[100\] {
  background-color: black;
  color: #000000;
}/*# sourceMappingURL=test_1.css.map */